<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>essenece.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>91E1893E1CB3984D00174C3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91E189551CB3984E00174C3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91E189601CB3984E00174C3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
